body {
	background-image: url('../img/deepfield.jpg'); 
}

.container {
	width: 80%;
	margin: 0 auto;
}

h1 {
	float: left;
	padding: 10px 0;
	text-decoration: none;
	text-transform: uppercase;
}

h4 {
	float: left;
	padding: 10px 0;
	text-decoration: none;
	text-transform: uppercase;
}

nav {
	float: right;
}

nav ul #navlinks {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
}

nav a {
	color: 444;
	text-decoration: none;
	text-transform: uppercase;
}